.aped-button {
  /* width: 185px; */
  height: 58px;
  padding-left: 30px;
  padding-right: 30px;
  background: linear-gradient(90deg, #fd02bd -9.8%, #5600c4 100%);
  border-radius: 8px;
  font-size: 18px;
  box-shadow: none;
}

.active-link {
  font-family: 'BarlowExtraBold';
  background: linear-gradient(90deg, #fd02bd -9.8%, #5600c4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-text {
  background: linear-gradient(94.95deg, #fe00c0 43.45%, #1dc6eb 100.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.solid-text {
  background: linear-gradient(90deg, #fd02bd -9.8%, #5600c4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

h1 {
  color: #000000;
}
.container--waitlistapi {
  margin: 0 auto;
  background-color: #cecaf3;
}
.button--waitlistapi {
  background-color: #000000;
}
.statusTextContainer--waitlistapi {
  color: #000000;
}
.referralLinkField--text {
  color: #000000;
}

.trading-view {
  display: flex;
  align-items: center;
}

.tradingview-widget-copyright {
  display: none;
}

#TICKER_2 .tradingview-widget-container {
  height: 70px !important;
}

#ADVANCED_CHART_2 .tradingview-widget-container {
  height: 100%;
}

/* marketing funnel */

.gradient-button {
  background-image: linear-gradient(to bottom, #69ddff 0%, #4a5e8c 44%, #4a5e8c 49%, #4a5e8c 57%, #da22ff 100%);
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  display: block;
  font: 1.125rem 'Oswald', Arial, sans-serif; /*18*/
  height: 60px;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 264px;
  margin: auto !important;
  margin-top: 24px !important;
  margin-bottom: 30px !important;
  z-index: 2;
}

.gradient-button:hover {
  color: #fff;
}

.gradient-button .MuiButton-label {
  align-items: center;
  background: #0d0f14;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  font-family: cursive;
  width: 100%;
}

.gradient-button:hover .MuiButton-label {
  background: transparent;
}

/* .gradient-button {
  font-family: system-ui;
  padding: 5px 30px;
  font-weight: 100;
  position: relative;
  z-index: 2;
  display: inline-block;
  text-decoration: none;
  color: rgba(#fff, 0.7);
  box-sizing: border-box;
  text-align: center;
  background-color: transparent;
  font-size: 1.1em;
  transition: 0.3s;
  border: 4px solid rgb(28, 43, 28);
  border-image-source: linear-gradient(to bottom, #69ddff 0%, #4a5e8c 44%, #4a5e8c 49%, #4a5e8c 57%, #da22ff 100%);
  border-image-slice: 4;
  overflow: hidden;
}

.gradient-button:hover {
  color: #fff;
}

.gradient-button:hover:after {
  width: 120%;
}
.gradient-button:after {
  content: '';
  position: absolute;
  transition: 0.3s;
  content: '';
  width: 0;
  bottom: -1px;
  height: 3px;
  background: linear-gradient(to bottom, #69ddff 0%, #4a5e8c 44%, #4a5e8c 49%, #4a5e8c 57%, #da22ff 100%);
  height: 120%;
  left: -10%;
  transform: skewX(15deg);
  z-index: -1;
} */
