::-webkit-scrollbar {
  border-radius: 1px;
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-corner {
  background: #9c9c9c;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #bcbcc8, #b0b0bf 33%), #bcbcc8;
  border-radius: 1px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(180deg, rgba(173, 173, 173, 0.05), hsla(0, 0%, 100%, 0)),
    linear-gradient(0deg, #7b7b80, #1c1c22), #c4c4c4;
  border-radius: 1px;
}

html {
  scroll-behavior: smooth;
}

/* Card Animations */
.flip-card {
  background-color: transparent;
  /* width: 300px; */
  /* height: 410px; */
  perspective: 1000px;
  margin: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  /* background-color: #bbb; */
  color: black;
}

.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #212B36;
  color: white;
  transform: rotateY(180deg);
  overflow-y: hidden;
  padding: 10px;
  border-radius: 10px;
}


/* Card Animations End */

.chart-container {
  height: 100%;
  min-height: 300px;
}
.aped-button {
  /* width: 185px; */
  height: 58px;
  padding-left: 30px;
  padding-right: 30px;
  background: linear-gradient(90deg, #fd02bd -9.8%, #5600c4 100%);
  border-radius: 8px;
  font-size: 18px;
  box-shadow: none;
  border: 2px solid rgba(255, 255, 255, 0.8);
  transition: all 0.5s;
}

.aped-button:hover {
  transform: scale(1.1);
}

.reverse-gradient {
  background: linear-gradient(90deg, #5600c4 -9.8%, #fd02bd 100%);
}

.aped-link-button {
  text-decoration: none;
  background: linear-gradient(90deg, #fd02bd -9.8%, #5600c4 100%);
  padding: 16px 30px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.aped-link-button:hover {
  text-decoration: none;
}

.active-link {
  font-family: 'BarlowExtraBold';
  background: linear-gradient(90deg, #fd02bd -9.8%, #5600c4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-text {
  background: linear-gradient(94.95deg, #fe00c0 43.45%, #1dc6eb 100.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-text-1 {
  background: linear-gradient(90deg, #fd02bd -9.8%, #5600c4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-align: center;
  text-transform: uppercase;
  /* font-size: 42px; */
  margin-top: 30px;
}

.trading-gradient-button {
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 2px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(101deg, #fd02bd, #5600c3);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #0d0c17 inset;
  font-weight: 300;
}

.trading-gradient-button:hover {
  box-shadow: none;
  box-shadow: 2px 1000px 1px #262544 inset;
  color: white;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.solid-text {
  background: linear-gradient(90deg, #fd02bd -9.8%, #5600c4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

h1 {
  color: #000000;
}
.container--waitlistapi {
  margin: 0 auto;
  background-color: #cecaf3;
}
.button--waitlistapi {
  background-color: #000000;
}
.statusTextContainer--waitlistapi {
  color: #000000;
}
.referralLinkField--text {
  color: #000000;
}

.trading-view {
  display: flex;
  align-items: center;
}

.tradingview-widget-copyright {
  display: none;
}

#TICKER_2 .tradingview-widget-container {
  height: 70px !important;
}

#ADVANCED_CHART_2 .tradingview-widget-container {
  height: 100%;
}

.slick-dots li button:before {
  color: white;
  font-size: 10px;
  opacity: 1;
}

/* marketing funnel */

.gradient-background {
  background: #161616;
  box-shadow: inset 0 0 80px 30px #000000;
  -webkit-box-shadow: inset 0 0 80px 30px #000000;
}

.gradient-button {
  background-image: linear-gradient(to bottom, #69ddff 0%, #4a5e8c 44%, #4a5e8c 49%, #4a5e8c 57%, #da22ff 100%);
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  display: block;
  font: 1.125rem 'Oswald', Arial, sans-serif; /*18*/
  height: 60px;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 264px;
  margin: auto !important;
  margin-top: 24px !important;
  margin-bottom: 30px !important;
  z-index: 2;
}

.gradient-button:hover {
  color: #fff;
}

.gradient-button .MuiButton-label {
  align-items: center;
  background: #0d0f14;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  font-family: system-ui;
  width: 100%;
}

.gradient-button:hover .MuiButton-label {
  background: transparent;
}

/* slider bar */
.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: auto;
  width: 100%;
  display: block;
  background: none;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  border-radius: 10px;
  /* background: #4776e6; */
  background: -webkit-linear-gradient(90deg, #5600c3 32.81%, #ff00c7 100%);
  /* background: linear-gradient(to right, #8e54e9, #4776e6); */
  background: linear-gradient(90deg, #5600c3 32.81%, #ff00c7 100%);
  height: 7.5px;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-moz-range-track {
  -moz-appearance: none;
  /* background: rgba(59, 173, 227, 1); */
  background: -moz-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(59, 173, 227, 1)),
    color-stop(25%, rgba(87, 111, 230, 1)),
    color-stop(51%, rgba(152, 68, 183, 1)),
    color-stop(100%, rgba(255, 53, 127, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* border: 2px solid; */
  border-radius: 50%;
  height: 20px;
  width: 20px;
  max-width: 80px;
  position: relative;
  bottom: 7px;
  background-color: white;
  cursor: -webkit-grab;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);

  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

.range.blue::-webkit-slider-thumb {
  border-color: rgb(59, 173, 227);
}

.range.ltpurple::-webkit-slider-thumb {
  border-color: rgb(87, 111, 230);
}

.range.purple::-webkit-slider-thumb {
  border-color: rgb(152, 68, 183);
}

.range.pink::-webkit-slider-thumb {
  border-color: rgb(255, 53, 127);
}

.range.blue::-moz-range-thumb {
  border-color: rgb(59, 173, 227);
}

.range.ltpurple::-moz-range-thumb {
  border-color: rgb(87, 111, 230);
}

.range.purple::-moz-range-thumb {
  border-color: rgb(152, 68, 183);
}

.range.pink::-moz-range-thumb {
  border-color: rgb(255, 53, 127);
}

input[type='range']::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type='range']::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

@media screen and (max-width: 580px) {
  .gradient-background {
    background: #161616;
    box-shadow: inset 0 0 80px 30px #000000;
    -webkit-box-shadow: inset 0 0 30px 7px #000000;
  }
}

/* .gradient-button {
  font-family: system-ui;
  padding: 5px 30px;
  font-weight: 100;
  position: relative;
  z-index: 2;
  display: inline-block;
  text-decoration: none;
  color: rgba(#fff, 0.7);
  box-sizing: border-box;
  text-align: center;
  background-color: transparent;
  font-size: 1.1em;
  transition: 0.3s;
  border: 4px solid rgb(28, 43, 28);
  border-image-source: linear-gradient(to bottom, #69ddff 0%, #4a5e8c 44%, #4a5e8c 49%, #4a5e8c 57%, #da22ff 100%);
  border-image-slice: 4;
  overflow: hidden;
}

.gradient-button:hover {
  color: #fff;
}

.gradient-button:hover:after {
  width: 120%;
}
.gradient-button:after {
  content: '';
  position: absolute;
  transition: 0.3s;
  content: '';
  width: 0;
  bottom: -1px;
  height: 3px;
  background: linear-gradient(to bottom, #69ddff 0%, #4a5e8c 44%, #4a5e8c 49%, #4a5e8c 57%, #da22ff 100%);
  height: 120%;
  left: -10%;
  transform: skewX(15deg);
  z-index: -1;
} */
